<%- include("./partials/header") %> 

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form method="POST" action="/cars/post">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Modèle</label>
                  <input type="text" class="form-control"  name="modele">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Constructeur</label>
                  <select class="form-control" name="constructeur" >

                    <% factories.forEach(function(factory) {%>

                    <option value="<%= factory.id %>"> <%= factory.name %></option>
                
                    <%});%>

                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">carburant</label>
                  <select  class="form-control" name="carburant" >
                    <% energies.forEach(function(energy) {%>

                    <option value="<%= energy.id %>"> <%= energy.name %> </option>
                    
                    <%});%>

                  </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Prix</label>
                    <input type="text" class="form-control" name="prix" >
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Année</label>
                    <input type="text" class="form-control"  name="annee" >
                  </div>

                  <button type="submit" class="btn btn-success">Ajouter la fiche</button>

              </form>

        </div>
    </div>
</div>



<%- include("./partials/footer") %>